{#
/**
 * @file
 * Default theme implementation to display a pagerer load more.
 *
 * Available variables:
 * - id: The id attribute, used to link with the widget state in
 *   drupalSettings.
 * - text: The text for the title attribute, used to present help text to
 *   user when hovering with the mouse on the element.
 *
 * @ingroup themeable
 */
#}
<a {{ attributes }}>{{ text }}</a>
